[Unit]
Description=Fancontroler Service

[Service]
TimeoutStartSec=10
ExecStart=/media/Data/Samba_Share_Device/Samba_Share/scripts/fancontrol.run
KillMode=process

[Install]
WantedBy=multi-user.target
Alias=fancontroler.service
