[Unit]
Description=SSH PortmapIO Tunnel
After=network.target

[Service]
Restart=always
RestartSec=20
User=sshtunnel
ExecStart=/usr/bin/start_portmapio_tunnel

[Install]
WantedBy=multi-user.target