[Unit]
Description=SSH PortmapIO Tunnel
After=network.target

[Service]
Restart=always
RestartSec=20
ExecStart=/bin/bash /usr/bin/start_portmapio_tunnel

[Install]
WantedBy=multi-user.target